/.externals
/args
/asio
/doctest
/fmt
/nodejs
/noexcept_ctcheck
/restinio
/so_5
/so_5_extra
/spdlog
/target
/__*.?pp
/__*.rb
/__*.vim
.*.sw?
/*.log
/local-build.rb
/LOG
/__locals
/*.sublime-project
/*.sublime-workspace
/.vscode

